<button type="button" class="close" ng-click="cancel();">
<i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
<h3 class="modal-title">[[ title ]]</h3>
</div>
<div class="modal-body">
<form name="taskd_form" class="form-horizontal" role="form" novalidate>
	<form-element label="TACTICS_NAME" mod="taskD">
		<input type="text" class="form-control" name="tac_name" placeholder="Enter taskD name" ng-model="taskD.PHONE_NUM" disabled />
	</form-element>
 	<form-element label="CALL_DURATION" mod="taskD">
 	<input type="text" class="form-control" name="call_duration" placeholder="Call duration eg 10s" ng-model="taskD.CALL_DURATION"/>
 	<small class="errorMessage" ng-show="taskd_form.call_duration.$dirty && taskd_form.call_duration.$invalid"> Enter the call_duration.</small>
 	</form-element>
 	<form-element label="CALL_INTERVAL" mod="taskD">
 		<input type="text" name="callinterval" class="form-control" placeholder="Call interval eg 5s" ng-model="taskD.CALL_INTERVAL"  only-numbers/>
 		<small class="errorMessage" ng-show="taskd_form.callinterval.$dirty && taskd_form.callinterval.$invalid"> Enter the callinterval.</small>
 	</form-element>

  <form-element label="CALL_TIMES" mod="taskD">
 		<input type="text" name="calltimes" class="form-control" placeholder="Call times eg 5" ng-model="taskD.CALL_TIMES" only-numbers/>
 		<small class="errorMessage" ng-show="taskd_form.calltimes.$dirty && taskd_form.calltimes.$invalid"> Enter the available calltimes.</small>
 	</form-element>

 	<form-element label="CALL_DISPLAY" mod="taskD">
 		<input type="text" name="callani" class="form-control" placeholder="Call display number" ng-model="taskD.CALL_DISPLAY"/>
 		<small class="errorMessage" ng-show="taskd_form.callani.$dirty && taskd_form.callani.$invalid"> Enter the callani.</small>
 	</form-element>

	<div class="space"></div>
	<div class="space-4"></div>
	<div class="modal-footer">
		<form-element label="">
			<div class="text-right">
				<a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
				<button ng-click="saveTaskD(taskD);"
						ng-disabled="strategy_form.$invalid || enableUpdate"
						class="btn btn-sm btn-primary"
						type="submit">
					<i class="ace-icon fa fa-check"></i>[[buttonText]]
				</button>
			</div>
		</form-element>
	</div>
</form>
</div>

