<button type="button" class="close" ng-click="cancel();">
<i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
<h3 class="modal-title">Add Phone</h3>
</div>
<div class="modal-body">
<form name="phone_form" class="form-horizontal" role="form" novalidate>
	<form-element label="phoneno" mod="phone">
		<input type="text" class="form-control" name="phoneno" placeholder="Enter phone number" ng-model="phone.PHONE_NUM" only-numbers/>
		<small class="errorMessage" ng-show="phone_form.phoneno.$dirty && phone_form.phoneno.$invalid"> Enter the Valid Phone Number.</small>
	</form-element>
	<hr/>
	<form-element label="CALL_DURATION" mod="phone">
 	<input type="text" class="form-control" name="call_duration" placeholder="Call duration eg 10s" ng-model="phone.CALL_DURATION"/>
 	<small class="errorMessage" ng-show="phone_form.call_duration.$dirty && phone_form.call_duration.$invalid"> Enter the call_duration.</small>
 	</form-element>
 	<form-element label="CALL_INTERVAL" mod="phone">
 		<input type="text" name="callinterval" class="form-control" placeholder="Call interval (longer than duration time)" ng-model="phone.CALL_INTERVAL"  only-numbers/>
 		<small class="errorMessage" ng-show="phone_form.callinterval.$dirty && phone_form.callinterval.$invalid"> Enter the callinterval.</small>
 	</form-element>

  <form-element label="CALL_TIMES" mod="phone">
 		<input type="text" name="calltimes" class="form-control" placeholder="Call times eg 5" ng-model="phone.CALL_TIMES" only-numbers/>
 		<small class="errorMessage" ng-show="phone_form.calltimes.$dirty && phone_form.calltimes.$invalid"> Enter the available calltimes.</small>
 	</form-element>

 	<form-element label="CALL_DISPLAY" mod="phone">
 		<input type="text" name="callani" class="form-control" placeholder="Call display number" ng-model="phone.CALL_DISPLAY"/>
 		<small class="errorMessage" ng-show="phone_form.callani.$dirty && phone_form.callani.$invalid"> Enter the callani.</small>
 	</form-element>

 	<form-element label="CALL_VOICE" mod="phone">
		<div class="row">
        <div class="col-md-6">
            <label>Sounds:</label> <select class="form-control" ng-model="selsound" ng-options="opt as opt.file_name for opt in sounds"><option></option></select>
        </div>
    </div>
 	</form-element>

 	<form-element label="CALL_NEXTTIME" mod="phone">
		<h5>Start Time</h5>
    <div class="row">
        <div class="col-md-6 col-xs-6" style="padding-top:34px;">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="dt" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-6 col-xs-6">
        	<timepicker ng-model="dt"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        </div>
    </div>
	</form-element>
<!-- 	<form-element label="DESCRIPTION" mod="product"> -->
<!-- 	<textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="product.description">{{product.description}}</textarea> -->
<!-- 	</form-element> -->
<!-- 	<form-element label="PRICE" mod="product"> -->
<!-- 		<input type="text" name="price" class="form-control" placeholder="PRICE" ng-model="product.price"  only-numbers/> -->
<!-- 		<small class="errorMessage" ng-show="product_form.price.$dirty && product_form.price.$invalid"> Enter the price.</small> -->
<!-- 	</form-element> -->
<!--  -->
<!--    <form-element label="STOCK" mod="product"> -->
<!-- 		<input type="text" name="stock" class="form-control" placeholder="STOCK" ng-model="product.stock" only-numbers/> -->
<!-- 		<small class="errorMessage" ng-show="product_form.stock.$dirty && product_form.stock.$invalid"> Enter the available stock.</small> -->
<!-- 	</form-element> -->
<!--  -->
<!-- 	<form-element label="PACKING" mod="product"> -->
<!-- 		<input type="text" name="packing" class="form-control" placeholder="PACKING" ng-model="product.packing"/> -->
<!-- 		<small class="errorMessage" ng-show="product_form.packing.$dirty && product_form.packing.$invalid"> Enter the Packing.</small> -->
<!-- 	</form-element> -->

	<div class="space"></div>
	<div class="space-4"></div>
	<div class="modal-footer">
		<form-element label="">
			<div class="text-right">
				<a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
				<button ng-click="addPhone(phone);"
						ng-disabled="phone_form.$invalid"
						class="btn btn-sm btn-primary"
						type="submit">
					<i class="ace-icon fa fa-check"></i>Add
				</button>
			</div>
		</form-element>
	</div>
</form>
</div>

