{% extends '../template/layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Group Manager
                    </h1>
                    <ol class="breadcrumb clearfix">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/user/{{ user }}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-group"></i> Group Manager
                        </li>
                        <span class="pull-right">
                            <li>
                                <a role="button" href="#"> <i class="fa fa-plus"></i> Group </a>
                            </li>
                        </span>
                    </ol>
                    <!--<span class="pull-right">-->
                        <!--<button class="btn btn-primary">Group</button>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for group in groups %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="{{ group.groupName }}">
                                <h4 class="panel-title clearfix">
                                    {% if loop.key == 0 %}
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ group.groupId }}" aria-expanded="true" aria-controls="{{ group.groupId }}">
                                        {{ group.groupName }}
                                    </a>
                                    {% else %}
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ group.groupId }}" aria-expanded="false" aria-controls="{{ group.groupId }}">
                                        {{ group.groupName }}
                                    </a>
                                    {% endif %}
                                    <span class="pull-right">
                                        <span class="label label-info"> {{ group.phones.length }} </span>
                                    </span>

                                </h4>
                            </div>
                            {% if loop.key == 0 %}
                            <div id="{{ group.groupId }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ group.groupName }}">
                            {% else %}
                            <div id="{{ group.groupId }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ group.groupName }}">
                            {% endif %}
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for phone in group.phones %}
                                        <a href="#" class="list-group-item clearfix">
                                            <i class="fa fa-fw fa-mobile "></i> {{ phone }}
                                            <span class="pull-right">
                                                <button class="btn btn-xs btn-info"><i class="fa fa-fw fa-edit"></i> </button>
                                                <button class="btn btn-xs btn-danger">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </button>
                                            </span>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="panel-footer clearfix">
                                    <span class="pull-right">
                                        <button class="btn btn-xs btn-primary"><i class="fa fa-fw fa-plus"></i> </button>
                                        <button class="btn btn-xs btn-danger">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--extra javascript file to make the buttons work-->