{% extends '../template/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
           <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tasks Manage
                        </h1>
                        <ol class="breadcrumb clearfix">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/user/{{ user }}">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tasks Manager
                            </li>
<!--                             <span class="pull-right"> -->
<!--                             <li> -->
<!--                                 <a href="#"> <i class="fa fa-plus"></i> Phone </a> -->
<!--                             </li> -->
<!--                         </span> -->
                        </ol>
                    </div>
                </div>
<!--                 <div class="row"> -->
<!--                     <div ng-init="friends = [ -->
<!--                         {name:'John', age:25, gender:'boy'}, -->
<!--                         {name:'Jessie', age:30, gender:'girl'}, -->
<!--                         {name:'Johanna', age:28, gender:'girl'}, -->
<!--                         {name:'Joy', age:15, gender:'girl'}, -->
<!--                         {name:'Mary', age:28, gender:'girl'}, -->
<!--                         {name:'Peter', age:95, gender:'boy'}, -->
<!--                         {name:'Sebastian', age:50, gender:'boy'}, -->
<!--                         {name:'Erika', age:27, gender:'girl'}, -->
<!--                         {name:'Patrick', age:40, gender:'boy'}, -->
<!--                         {name:'Samantha', age:60, gender:'girl'} -->
<!--                     ]"> -->
<!--                         I have [[friends.length]] friends. They are:  -->
<!--                         <input type="search" ng-model="q" placeholder="filter friends..." /> -->
<!--                         <ul class="example-animate-container"> -->
<!--                             <li class="animate-repeat" ng-repeat="friend in friends"> -->
<!--                                 [[$index + 1]] [[friend.name]] who is [[friend.age]] years old. -->
<!--                             </li> -->
<!--                         </ul> -->
<!--                     </div> -->
<!--                </div> -->
                <div class="row">
                    <div class="col-lg-12 ">
<!--                     <div ng-view="" id="ng-view"></div> -->
                        <div ng-controller="phoneManageController">
<!--                         <ul> -->
<!--                         <li ng-repeat="phone in phones"> -->
<!--                             [[$index+1]] -->
<!--                         </li> -->
<!--                         </ul> -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                            <div class="panel panel-info">
                                <div class="panel-heading" role="tab" id="strategies">
                                    <h4 class="panel-title clearfix">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#straContent" aria-expanded="true" aria-controls="straContent">
                                            Tasks
                                        </a>
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-primary fa fa-plus" ng-click="open(phone,'md');">&nbsp;Task</button>
                                    </span>
                                    </h4>
                                </div>
                                <div id="straContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="strategies">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr><th ng-repeat="c in columns">[[c.text]]</th></tr>
                                            <tr  ng-repeat="row in phones" ng-class="{2:'hide', 1:'info',0:'warning'}[row.CALL_STATUS]">
                                                <td>[[row.PHONE_NUM]]</td><td>[[row.CALL_DURATION]]</td><td>[[row.CALL_INTERVAL]]</td><td>[[row.CALL_TIMES]]</td><td>[[row.CALL_DISPLAY]]</td><td>[[row.CALL_BOOKTIME | date:'short' ]]</td>
                                                <td>
                                                    <div class="btn-group" ng-class="{1:'hide',2:'',0:''}[row.CALL_STATUS]" >
                                                      <button type="button" class="btn btn-default fa fa-edit" ng-class="{2:'hide',1:'',0:''}[row.CALL_STATUS]" ng-click="open(row);"></button>
                                                      <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deletePhone(row);"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block postscript %}
{% parent %}
<script src="/js/underscore.js"></script>
<script src="/js/task.js"></script>
<script src="/js/controllers/phoneManageController.js"></script>
{% endblock %}
