{% extends '../template/layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Task Manager
                    </h1>
                    <ol class="breadcrumb clearfix">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/user/{{ user }}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-tasks"></i> Task Manager
                        </li>
                    </ol>
                    <!--<span class="pull-right">-->
                        <!--<button class="btn btn-primary">Group</button>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div ng-controller="taskManageController">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-info">
                                <div class="panel-heading" role="tab" id="tasks">
                                    <h4 class="panel-title clearfix">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#straContent" aria-expanded="true" aria-controls="straContent">
                                            Tasks
                                        </a>
                                        <span class="pull-right">
                                            <button type="button" class="btn btn-primary fa fa-plus" ng-click="openTask(task);">&nbsp;Task</button>
                                        </span>
                                    </h4>
                                </div>
                                <div id="straContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tasks">
                                    <div class="panel panel-primary" ng-repeat="task in tasks">
                                        <div class="panel-heading">[[task.TASK_NAME]]</div>
                                        <div class="table-responsive">
                                        <table class="table ">
                                            <tr><th ng-repeat="c in columns">[[c.text]]</th></tr>
                                            <tr ng-repeat="row in task.phones">
                                                <td>[[row.PHONE_NUM]]</td><td>[[row.CALL_DURATION]]</td><td>[[row.CALL_INTERVAL]]</td><td>[[row.CALL_TIMES]]</td><td>[[row.CALL_DISPLAY]]</td>
                                                <td style="width:100px">
                                                    <div class="btn-group">
                                                      <button type="button" class="btn btn-default fa fa-edit" ng-click="open(row);"></button>
                                                      <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deletetaskDetail(row);"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--extra javascript file to make the buttons work-->
{% block postscript %}
{% parent %}
<script src="/js/underscore.js"></script>
<script src="/js/task.js"></script>
<script src="/js/controllers/taskManageController.js"></script>
{% endblock %}
